@font-face {
    font-family: "Samim";
    src: url("../fonts/Samim/Samim-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Yekan";
    src: url("../fonts/Yekan/Yekan.ttf") format("truetype");
}