@font-face {
    font-family: "Samim";
    src: url("../fonts/samim/Samim-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Yekan";
    src: url("../fonts/yekan/Yekan.ttf") format("truetype");
}