@import url("reset.css");
@import url("font.css");

:root{
   --primary-font:"Samim";
   --secondary-font:"Yekan";
   --primary-color:#4A44F2;
   --secondary-color:#222831;
   --third-color:#393E46;
   --forth-color:#1F252D;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
    box-sizing:border-box;
}

body{
    box-sizing: inherit;
    font-size: 1.6rem;
    height: 100vh;
    background-color: var(--secondary-color);
}

h2{
    color: #ffff;
    font-family: var(--primary-font);
}

/* Start Header Styles */
.header{
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   border-bottom: 0.5px solid #fff;
   padding: 2rem 0;
   z-index: 99;
}
.header__wrapper{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 1.5rem 0;
}
.header__logo{
    width: 20rem;
    height: 5rem;
}
.header-logo__img{
   width: 100%;
   height: 100%;
}
.header__nav{
    width: 35%;
}
.header__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.header-list__item{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-list__item::after{
    content: "";
    position: absolute;
    width: 0;
    right: 0;
    top:2rem;
    height: 0.2rem;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}
.header-list__item:hover.header-list__item::after{
    width: 100%;
}
.header-item__link{
    color: #ffff;
    font-size: 1.8rem;
    font-weight: 900;
    font-family: var(--primary-font);
}
.header-list__icon{
    width: 1.5rem;
    height: 1.5rem;
}
.header-list__subemnu{
    position: absolute;
    top: 7rem;
    right: 0;
    opacity: 1;
    width: 20rem;
    background-color: #fff;
    padding: 2rem;
    height: auto;
    border-radius: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.header-submenu__items{
     position: relative;
     color: #6a727f;
     font-family: var(--primary-font);
     font-size: 1.6rem;
     padding: 1rem;
     height: 2rem;
     transition: all 0.3s ease-in-out;
}
.header-submenu__items::after{
    content: "";
    position: absolute;
    right:-2rem ;
    top: 0;
    width: 0.2rem;
    height: 0;
    transition: all 0.3s ease-in-out;
    background-color: var(--primary-color);
}
.header-submenu__items:hover{
    color: var(--primary-color);
}
.header-submenu__items:hover.header-submenu__items::after{
    height: 100%;
}
.header-list__item:hover .header-list__subemnu{
    opacity: 1;
    visibility: visible;
}
.mobile__nav{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 95%;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem;
    margin: 0 auto;
    z-index: 400;
    border-bottom: 1px solid #fff;
}
.nav-switch__btn{
    display: none;
    cursor: pointer;
}
.swith-btn__icon{
    width: 3.5rem;
    height: 3.5rem;
}
.nav__mobile{
    display: none;
    position: fixed;
    right: -35rem;
    top: 0;
    bottom: 0;
    background-color: var(--third-color);
    width: 30rem;
    transition: all 0.2s ease-in-out;
}
.header-mobile__wrapper{
   width: 100%;
}
.header-nav__mobile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-mobile__item{
    width: 100%;
    position: relative;
    cursor: pointer;
    border-top: 1px solid rgba(255, 255, 255, 0.07)
}
.nav-mobile__link{
   font-size: 1.9rem;
   color: #fff;
   font-family: var(--primary-font);
   font-weight: 800;
   padding: 0 22px 0 35px;
   line-height: 5rem;
}
.nav-mobile__icon{
    position: absolute;
    left: 2rem;
    top: 2rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    fill: #fff;
}
.nav-mobile__submenu{
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.mobile-submenu__items{
    border-top: 1px solid rgba(255, 255, 255, 0.07);
    width: 100%;
    background-color: #3D424A;
}
.mobile-submenu__link{
   font-size: 1.9rem;
   color: #fff;
   font-family: var(--primary-font);
   font-weight: 800;
   line-height: 5rem;
   padding: 0 40px 0 22px;
   display: block;
}
.nav-mobile__icon.active{
    transition: all 0.3s ease;
   transform: rotate(180deg);
}
.header-mobile--open{
  right: 0;
}
.nav-mobile--open{
    height: 15rem;
}
/* End Header Styles */
.overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    padding: 3.5rem 1rem;
    z-index: 200;
    cursor: pointer;
}
.overlay--show{
  opacity: 0.6;
  visibility: visible;
}
.scroll__style{
   background-color: black;
   border: none;
   padding: 1.5rem;
   transition: all 0.3s ease-in-out;
}

/* End all header styles */

/* Start main styles */
.main__content{
    background: url("../images/millennial-asia-businessmen-businesswomen-meeting-brainstorming-ideas-about-new-paperwork-project-colleagues-working-together-planning-success-strategy-enjoy-teamwork-small-modern-night-office.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-content__details{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}
.main-content__title{
    font-size: 7rem;
    font-family: var(--primary-font);
}
.main-content__text{  
      display: block;
      font-size: 2.3rem;
      color: #fff;
      font-family: var(--primary-font);
      width: 60%;
      line-height: 3rem;
      margin: 5rem 0;
}
.main-content__buttons{
   display: flex;
   width: 70%;
   align-items: center;
   justify-content: space-between;
}
.main-content__links{
    font-size: 2.2rem;
    color: #fff;
    font-family: var(--primary-font);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-content__links:first-child{
    background-color: var(--primary-color);
    width: 40%;
    padding: 2.5rem 5rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}
.main-content__links:first-child:hover{
    background-color: #5d58f0;
}
.main-content__links:last-child{
    width: 20%;
    border-bottom: 2px solid #fff;
}

/* Start main cards */

.cards__holder{
    width: 100%;
    margin: 0 auto;
    margin-top: -7rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.card__item{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap:2rem;
      width: 22%;
      height: 30rem;
      padding: 7rem 5rem 5.8rem;
      background-color: var(--forth-color);
      border-radius: 1.5rem;
}
.card-icon__holder{
    width: 12rem;
    height: 12rem;
    margin: 0 auto;
}
.card__icons{
    width: 100%;
    height: 100%;
}
.card__title{
   font-size: 2rem;
   font-family: var(--primary-font);
   text-align: center;
   color: #fff;
}
.card__desc{
    display: block;
    width: 70%;
    font-size: 1.9rem;
    font-family: var(--primary-font);
    text-align: center;
    color: #9BA4B1;
    line-height: 3rem;
}

/* End main cards */

/* Start news box */
.news{
    margin: 20rem 0;
}
.news__title{
   font-size: 4rem;
   color: #fff; 
   font-family: var(--primary-font);
}
.news__wrapper{
  width: 100%;
  margin-top: 5rem;
}
.news__holder{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.news__cart{
   width: 25%;
   height: 100%;
   display: flex;
   padding: 2.5rem;
   margin: 0 1rem;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   border-radius: 0.75rem;
   background: linear-gradient(to left bottom, rgb(15, 3, 12), rgb(173, 34, 101));
}
.news-image__holder{
  width: 100%;
  height: 100%;
  margin-bottom: 3rem;
}
.news__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news__details{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.news-writter__detials{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0;
}
.news__text{
  font-size: 2.5rem;
  font-family: var(--primary-font);
  color: #fff;
  line-height: 3rem;
  text-align: center;
}
.writter__details{
  display:flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
.study-time__box{
    display:flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}
.category{
    display:flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

.writter__details > span,
.study-time__box > span,
.category > span{
    font-size: 1.3rem;
    font-family: var(--primary-font);
    color: #fff;
}
/* End news box */

/* Start main detials */
.main__details{
    margin: 10rem 0;
}
.details__container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left__details{
    width: 45%;
}
.left-img__holder{
  width: 100%;
  height: 100%;
}
.left__image{
    width: 100%;
    height: 100%;
}
.right__details{
   width: 45%;
}
.right-detail__box{
   display: flex;
   flex-direction: column;
   gap: 2rem;
   width: 55%;
   margin: 0 auto;
}
.right-detail__title{
    font-size: 4rem;
    font-weight: 800;
    font-family: var(--primary-font);
    color: #fff;
    line-height: 4.5rem;
    position: relative;
}
.right-detail__line{
   position: absolute;
   top: 0;
   right: -5rem;
   height: 8rem;
   width: 1rem;
   background-color: #fff;
}
.right-detail__text{
    font-size: 2rem;
    font-weight: 800;
    font-family: var(--primary-font);
    color: #9BA4B1;
    line-height: 4rem;
}

/* End main detials */

/* Start features  */

.main__features{
    margin: 15rem 0 0 0;
} 
.features__container{
      display: flex;
      align-items: centere;
      justify-content: space-between;
}
.features__right{
    width: 45%;
}
.features__content{
   width: 55%;
   display: flex;
   flex-direction: column;
   gap: 3rem;
   margin: 0 auto;
}
.features-contnet__title{
    font-size: 4rem;
    font-weight: 800;
    font-family: var(--primary-font);
    color: #fff;
    line-height: 4.5rem;
    position: relative;
}
.features__line{
    position: absolute;
    top: 0;
    right: -5rem;
    height: 8rem;
    width: 1rem;
    background-color: #fff;
}
.features-content__text{
    font-size: 2rem;
    font-weight: 800;
    font-family: var(--primary-font);
    color: #9BA4B1;
    line-height: 4rem;
}
.features-contnet__btn{
     text-align: center;
     width: 60%;
     padding: 2rem 4rem;
     border-radius: 0.6rem;
     color: #fff;
     font-family: var(--primary-font);
     font-weight: 900;
     font-size: 1.9rem;
     background-color: var(--primary-color);
     overflow: hidden;
     position: relative;
     z-index: 1;
}
.features-contnet__btn:hover .hover__effect{
    width: 100%;
    height: 100%;
    opacity: 1;
    padding: 20rem;
}
.features__left{
   width: 45%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 2rem;
}
.features__item{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.features__heading{
   display: flex;
   align-items: center;
   flex-direction: row-reverse;
   justify-content: flex-end;
   gap: 4rem;
}
.feature-heading__title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-family: var(--primary-font);
}
.feature-heading__title:hover{
    color: #909192;
}
.feature-icon{
    background-color: var(--third-color);
    padding: 2rem;
    border-radius: 50%;
}
.features__body{
   margin-top: 2rem;
   overflow: hidden;
   height: 0;
}
.features-body__text{
    font-size: 1.8rem;
    font-family: var(--primary-font);
    color:#9BA4B1;
    line-height: 2.9rem;
}

.feature-icon > svg{
        width: 1.5rem;
        height: 1.5rem;
}
.features__item.features__icon--active .feature-icon{
    background-color: var(--primary-color);
    transform: rotate(-180deg);
}
.features__item.features__icon--active .features__body{
    transition: 0.3s ease-in-out;
    height: auto;
}
/* End features  */

/* Start gallery */
.gallery{
    margin-top: 20rem;
}
.gallery-content__holder{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 8rem;
}
.gallery-top__content{
    width: 100%;
   
}
.gallery-title__box{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 38%;
    margin: 0 auto;
}
.gallery__title{
     font-size: 4rem;
     color: #fff;
     font-weight: 900;
     font-family: var(--primary-font);
}
.gallery__text{
    font-size: 2rem;
    color: #909192;
    font-family: var(--secondary-font);
    line-height: 3rem;
}
.gallery-bottom__content{
       width: 100%;
}
.pair__imgs{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.gallery-img__box{
    overflow: hidden;
    border-radius: 1rem;
    cursor: pointer;
    width: 40%;
    position: relative;
}
.gallery__img{
   object-fit: cover;
   width: 100%;
   height: 100%;
   transition: all .4s ease-in-out;
}
.gallery-img__box:hover .gallery__img{
   transform: scale(1.2);
}
.gallery__overlay{
     position: absolute; 
     left: 0; 
     top: 0;
     width: 100%;
     height: 100%;
     background-color: var(--primary-color);
     opacity: 0;
     display: flex;
     align-items: center;
     justify-content: center;
     visibility: 0;
     transition: all .3s ease-in-out;
}
.gallery-img__box:hover .gallery__overlay{
    visibility: visible;
    opacity: 0.8;
}
.overlay__text{
    font-size: 3rem;
    color: #fff;
    font-family: var(--primary-font);
    font-weight: 900;
}
/* End gallery */

/* Start team  */

.team{
    margin-top: 20rem;
}
.team__details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.detail__images{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
}
.left__image{
   display: flex;
   flex-direction: column;
   gap: 2.5rem;
   width: 100%;
}
.top__img{
    width: 70%;
    align-self: flex-end;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.bottom__img{
    width: 100%;
    align-self: flex-end;
    position: relative;
    cursor: pointer;
}
.left__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}
.right__image{
    width: 70%;
    position: relative;
    z-index: 2;
    overflow: hidden;
    cursor: pointer;
    border-radius: 1.5rem;
}
.right__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details__overlay{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    border-radius: 1.5rem;
}
.right__image:hover .details__overlay,
.top__img:hover .details__overlay ,
.bottom__img:hover .details__overlay{
     opacity: 0.9;
     visibility: visible;
}
.overlay__text{
   text-align: center;
   font-size: 2.5rem;
   font-family: var(--primary-font);
}
.icon__holder{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a19eee;
    border-radius: 50%;
    padding: 1rem;
    transition: all .3s ease-in-out;
}
.overlay__icons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
} 
.icon__holder:hover{
    background-color: #8682fa;
}
.overlay__icon{
   width: 2rem;
   height: 2rem;

}
.detail__content{
    width: 40%;
}
.detail-content__wrapper{
    width:70%;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}
.detail__title{
    font-size: 4rem;
    font-family: var(--primary-font);
    color: #fff;
    line-height: 5.5rem;
}
.details__text{
    font-size: 2rem;
    font-family: var(--primary-font);
    color: #6a727f;
    line-height: 3rem;
    display: block;
    width: 90%;
}
.details__btn{
    text-align: center;
    width: 40%;
    padding: 2rem 4rem;
    border-radius: 0.6rem;
    color: #fff;
    font-family: var(--primary-font);
    font-weight: 900;
    font-size: 1.9rem;
    background-color: var(--primary-color);
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.details__btn:hover .hover__effect{
    width: 100%;
    height: 100%;
    opacity: 1;
    padding: 20rem;
}
/* Finish team  */

/* Start contact */
.contact{
   margin-top: 20rem;
}
.contact__wrapper{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.contact__left{
    width: 45%;
}
.contact__image{
   width: 100%;
   height: 100%;
}
.contact__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contact__right{
    width: 45%;
}
.contact-item__holder{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.contact-item__top{
    margin-bottom: 3rem;
    width: 50%;
}
.contact__title{
    font-size: 3.5rem;
    font-family: var(--primary-font);
    color: #fff;
    line-height: 5rem;
}
.contact-item__bottom{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.contact__input{
  width: 80%;
  padding: 2rem;
  background-color: transparent;
  border: 1px solid #6a727f;
  outline: none;
  transition: all .3s ease-in-out;
}
.contact__text-area{
  width: 80%;
  resize: none;
  padding: 2rem;
  background-color: transparent;
  border: 1px solid #6a727f;
  outline: none;
  transition: all .3s ease-in-out;
}
.contact__input:focus,
.contact__text-area:focus{
   border: 2px solid var(--primary-color);
}
.contact__input::placeholder,
.contact__text-area::placeholder{
    font-family: var(--primary-font);
    color: #fff;
    font-size: 2rem;
}
.contact__btn{
    text-align: center;
    width: 20%;
    padding: 2rem 4rem;
    border-radius: 0.6rem;
    color: #fff;
    font-family: var(--primary-font);
    font-weight: 900;
    font-size: 1.9rem;
    background-color: var(--primary-color);
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.contact__btn:hover .hover__effect{
    width: 100%;
    height: 100%;
    opacity: 1;
    padding: 20rem;
}
/* Finish contact */

/* Footer */
  .footer{
    margin-top: 20rem;
    background-color: #282F3A;

  }
.footer__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7rem;
}
.footer__right{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}
.footer__img{
width: 18rem;
width: 18rem;
}
.footer__image{
  width: 100%;
  height: 100%;
}
.footer-right__text{
  font-family: var(--primary-font);
  font-size: 1.5rem;
  color: #6a727f;
  line-height: 3rem;
  display: block;
  width: 85%;
}
.footer__icons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

}
.footer__icon{
  width: 2rem;
  height: 2rem;
}
.footer__middle{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer__title{
  font-size: 2rem;
  color: #fff;
}
.footer__text{
    font-size: 1.5rem;
    color: #6a727f;
    font-family: var(--primary-font);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.footer__text:hover{
    color: #fff;
}
.footer__text::after{
    content: " ";
    position: absolute;
    right: 0;
    top: 2rem;
    width: 0;
    height: 0.2rem;
    background-color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}
.footer__text:hover.footer__text::after{
    width: 5rem;
}
.footer__left{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer-left__title{
   font: 2rem;
   color: #fff;
   font-family: var(--primary-font);
}
.footer__contact{
display: flex;
flex-direction: column;
gap: .5rem;
}
.footer-left__text{
   font-size: 1.5rem;
   color: #6a727f;
   font-family: var(--primary-font);
   transition: all .3s ease-in-out;
}
.footer-left__text:hover{
    color: #fff;
}
.footer-scroll__box{
    position: absolute;
    left: 0;
    top: -2rem;
    background-color: var(--primary-color);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    cursor: pointer;
}
.scroll__icon{
   width: 3rem;
   height: 3rem;
}
.footer-scroll__box:hover .scroll__icon{
    animation: shakeRocket infinite 0.2s ease-in-out;
}
.scroll__icon > svg{
     width: 100%;
     height: 100%;
     fill: white;
}
.designer{
    width:100%;
    text-align:center;
    margin-top: 1rem;
}
.designer span{
    font-size:1.8rem;
    color:#8682fa;
    font-family: var(--primary-font);
    font-weight: 800;
}
@keyframes shakeRocket {
    0%{
      transform: translateX(0.1rem);
    }
    100%{
        transform: translateX(-0.1rem);
    }
}
/* Footer */


/* Hover effect */
.hover__effect{
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    transform: translate(-50%,-50%);
    background-color: #393e46;
    opacity: .5;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
    width: 0;
    height: 0;
 }
/* swiper styles */
.swiper-pagination{
    margin: 0 auto;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.swiper-pagination .swiper-pagination-bullet{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.3);
    
}